// Theme
$primary-color: #e08a01;
$secondary-color: #101f46;
$hover-color: #2c75ba;
$title-color: #101f46;
$light-color: #ffffff;
$dark-color: #000000;
$green-color: #4caf50;
$blue-color: #167ee6;
$purpel-color: #4c5caf;
$red-color: #da0c4d;

// Default
$danger-color: #d9534f;
$info-color: #5bc0de;
$success-color: #5cb85c;
$warning-color: #f0ad4e;
$disable-color: #ccc;

// Font Family

$site-identity-font: "Raleway", sans-serif;
$primary-font: "Open Sans", sans-serif;
$title-font: "Raleway", sans-serif;

// Line Hight
$body-line-height: 1.6;
$title-line-height: 1.2;

$container-width: 1230px !default;
$full-width: 100% !default;
$main-panel-width: 75% !default;
$sidebar-width: 25% !default;
